* {background-color: green;}
.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color:green;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: green;
}

.App-link {
  color: #61dafb;
}

.nav {
  display: flex;
  flex-direction: row;
}
.smoothscroll {
  margin: 5px;
  list-style:none;
}
li {
  list-style:none;
}